body {
    font-family: Arial, Helvetica, sans-serif;
}

.center-title {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

input {
    text-align: center;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adv-search {
    
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-basis: 50%;

}
.test {
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    flex-basis: 50%;
    justify-content: space-between;
    /* gap: 20%; */
    /* flex-basis: 50%;
    width: 100%; */
}
#search-bar {
    display: flex;
    height: 30px;
    box-shadow: none;
    border-radius: 20px;
    margin: 0 auto;
    width: 600px;
    
}
#adv-search-bar {
    display: flex;
    height: 30px;
    width: 600px;
    position: relative;
    top: 32px;
    text-align: left;
    gap: 20%;
    /* flex-wrap: wrap;
    flex-basis: 50%;
    margin: 0 auto; */
}
#center-btn {
    display:flex;
    justify-content:center;
    align-items: center;
}
#search-button {
    background-color: #e8eaed;
    border: 1px solid #e8eaed;
    border-radius: 4px;
    color: #303134;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.top-row {
    display: flex;
    justify-content: end;
}
a {
    padding: 10px;
}
#adv-name {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;

}

/* 
List of things to do:
    - fix spacing for space bar
    - round edges for search
    - make search longer
    - make button look better
    - add more color, perhaps make a dark and a light mode 
 */
    